.profile-img{
    width: 50vmin;
    height: 40vh;
}

h6{
    margin: 15px 0px;
}

.intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-container > img {
    margin-top: 8px ;
}

.intro-text{
    width: 60%;
    font-size: 26px;
    border: 1px solid black;

}

#body-text{
    width: 95%;
    border: 1px solid black;
    margin: 10px 20px;
    font-size: 20px;
}

#conclusion-text{
    margin: 20px 0px;
    width: 95%;
    border: 1px solid black;
    margin: 20px 20px;
    font-size: 18px;
    
}

.done{
    margin: 0px 0px 15px;
}
.done > a{
    color: white;
}



