.profile-img{
    width: 50vmin;
    height: 40vh;
}

h6{
    margin: 15px 0px;
}

#intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-container > img {
    margin-top: 8px ;
}

.intro-text{
    width: 60%;
    font-size: 26px;
    border: 1px solid black;

}

#body-text{
    width: 100%;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 10px;
}

#conclusion-text{
    margin: 20px 0px;
    width: 100%;
    border: 1px solid black;
    font-size: 18px;
    
}

@media screen and (max-width:850px){
    .display{
        display: flex;
        justify-content: center;
    }
    #intro-container{
        display: flex;
        flex-direction: column;
    }
    .intro-container{
        display: flex;
        justify-content: center;
        font-size: medium;

    }
    .intro-text{
        width: 100%;
        height: auto;
    }
    .profile-img{
        width: 50%;
        height: 50%;
    }
    .title-container{
        font-size: larger;
    }
    .intro-text,#body-text,#conclusion-text{
        font-size: medium;
        width: 100%;

    }
}

