body{
    background-color: #FD8B49;
  

}

.mainpage_div{
    background-color: white;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-left: 115px;
    border: 1px solid black;

}

header{
    font-size: 40px;
    width: 80%;
    margin: 55px 50px;
}

#smalldesc{
    margin: 30px 50px 10px;
    font-size: 18px;
    width: 60%;
}


#descrption{
    margin:50px 50px;
    width: 80%;
    text-align: left;

}

.maininfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainimg{
    width: 30vw;
    height: 50vh;
    padding: 9% 5%;

} 

hr{
    margin-left: 50px;
    width: auto;
}

@media (max-width:950px) {
    #description{
        margin-left: 9%;
        width: 100%;
        font-size: 20px;
    }
}
@media screen and (max-width:800px) {
    header{
        font-size: xx-large;
        margin: 10% 10%;
    }
    .mainpage_div{
        height: auto;
        margin: 10px 30px;
        align-items: center;
    }
    .maininfo{
        align-items: center ;
    }
    .mainimg{
        display: none;
        
    }
    #descrption{
        font-size: small;
        margin-left : 50px;
        
    }
    #smalldesc{
        font-size: medium;
        width: 60%;
        text-align: left;

    }
    hr{
        margin-left: auto !important;
    }
    
    p {
        font-weight: 600;
    }

}