
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 81%;
    align-items: center;
    margin-left: 90px;
    padding: 2% 0% 2% 2%;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    font-style: inter;
}
button{
    background-color: black;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
#button{
    color: white;

}
.right{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between

}