.modal-content{
    width: 100%;
    height: 50%;
    background-color: white;
    border: 2px solid black;
}

.modal-overlay {
  position: fixed;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.modal {
  background: #fff;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  z-index: 999; 
  top: 45vh;
  left: 45vh;
}

button {
  color: white;
  cursor: pointer;

}
.button{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 10px;
    
}

#backgroundBlur{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: black;
    opacity: 50%;
}